@tailwind base;
@tailwind components;
@tailwind utilities;

body{
    font-family: 'Poppins', sans-serif
}
.navbar-fixed{
    @apply fixed z-10 
}
.navbar-fixed>div{
    @apply bg-opacity-0;
    backdrop-filter: blur(5px) ;
    }

.li-nav{
    @apply bg-opacity-80;
    backdrop-filter: blur(5px);
}
.hamburger-line{
    @apply w-[30px] h-[2px] my-2 block bg-white transition duration-300 ease-in-out
}

.hamburger-active>span:nth-child(1){
    @apply rotate-45 origin-top-left pl-3 
}

.hamburger-active>span:nth-child(3){  
    @apply -rotate-45 origin-bottom-left pr-1
}
.hamburger-active>span:nth-child(2){
    @apply scale-0;
} 
        
.word {
  position: relative;
}
.line-mask {
  position: absolute;
  top: 0;
  right: 0;
  background-color: #0d0d0d;
  opacity: 0.8;
  height: 100%;
  width: 100%;
  z-index: 2;
}

